#common-variant-container {
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.variant {
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(77, 77, 77);
    cursor: pointer;
    color: white;
}

.arrow {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: white;
}

.selected {
    border-color: blue;
    background-color: lightblue;
}

.state-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid black; /* Circle border */
  border-radius: 50%; /* Makes it a circle */
  font-size: 12px;
  font-weight: bold;
  color: black; /* Text color */
  background-color: white; /* Background color inside the circle */
  text-align: center;
}