#common-variant-container {
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.variant {
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(77, 77, 77);
    cursor: pointer;
    color: white;
}

.arrow {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: white;
}

.selected {
    border-color: blue;
    background-color: lightblue;
}