.critical-incidents-container {
    background-color: #1c1c1c;
    color: white;
    max-height: 400px;
    min-height: 250px;
    /* Can be dynamically set */
    overflow-y: auto;
}

.critical-incidents-table {
    width: 100%;
    border-collapse: collapse;
}

.critical-incidents-table th,
.critical-incidents-table td {
    border: 1px solid #444;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.critical-incidents-table th {
    background-color: white;
}

.critical-incidents-table tr:nth-child(even) {
    background-color: #292929;
}

.critical-incidents-table tr:hover {
    background-color: #3b3b3b;
}