.definition-security-control {
    background-color: #1B1B1B;
    border-radius: 12px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    /* Adjust width as necessary */
    max-width: 400px;
    /* Set a max-width for better layout control */
    box-sizing: border-box;
    /* Ensures padding does not affect width */
    margin: auto;
    /* Centering the box */
}

.form-label {
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

.input-field,
.textarea-field {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #1E1E1E;
    color: #A8AFB9;
    margin-top: 5px;
}

.textarea-field {
    height: 100px;
    /* Set a fixed height for the textarea */
    resize: none;
    /* Prevent resizing */
}

.tags-container {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-bottom: 20px;
}

.tag-button {
    background-color: #0099DB;
    border-radius: 100px;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

.save-button {
    background: linear-gradient(180deg, #8724D3 0%, #7821BA 100%);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

.save-button:hover {
    opacity: 0.8;
}