.incident-query-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.date-range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.date-range-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.date-label,
.date-input {
    font-size: 0.8em;
    /* Smaller font size */
    padding: 5px;
    border: none;
    background-color: transparent;
    text-align: center;
    width: 80px;
    color: white;
}

.date-input {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.date-range-slider {
    width: 100%;
}

.result-section {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.progress-bar-full {
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.name {
    font-family: Inter, sans-serif;
    color: white;
    font-size: 12px;
}