/* IndividualAnalysis.css */

.individual-analysis {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-section-scrollable {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
    /* Ensure the container has a fixed max height for scrolling */
    width: 100%;
}

.incident-sequence-svg {
    background-color: #1b1b1b;
    min-width: 100%;
    /* Ensure the SVG fills the container width */
}


.averages-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    column-gap: 10px;
    text-align: center;
    color: white;
}

.average-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: white;
    gap: 4px;
}

.average-item-label {
    font-weight: bold;
    vertical-align: top;
}

.average-item-value {
    font-size: 1em;
}

.form-section-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.form-input {
    flex: 1;
    font-size: 16px;
}

.form-select {
    font-size: 10px;
    height: 20px;
    padding: 0rem 0rem .0rem .25rem;
}

.form-button {
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}