.navbar-container {
    justify-content: space-between;
    border-color: rgba(33, 33, 33, 1);
    background-color: var(--Background-Black, #151515);
    display: flex;
    gap: 16px;
    padding: 10px;
}

@media (max-width: 991px) {
    .navbar-container {
        flex-wrap: wrap;
    }
}

.section-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .section-container {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.control-count {
    border-radius: 4px;
    background-color: #1b1b1b;
    display: flex;
    gap: 10px;
    padding: 6px 16px;
    border: 1px solid rgba(36, 36, 36, 1);
}

.count-circle {
    border-radius: 100px;
    white-space: nowrap;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 32px/150% Bebas Neue, -apple-system, Roboto, Helvetica, sans-serif;
    color: white;
}

.count-label {
    font: 15px/23px Inter, sans-serif;
    white-space: pre-wrap;
    color: white;
}

.section-content {
    display: flex;
    gap: 14px;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    border: 1px solid rgba(36, 36, 36, 1);
    border-radius: 4px;
    background-color: #1b1b1b;
}

.icon {
    aspect-ratio: 0.78;
    object-fit: auto;
    object-position: center;
    width: 14px;
    fill: var(--White, #fff);
    margin: auto 0;
}

.label {
    font-family: Inter, sans-serif;
    color: white;
}

.settings-section {
    justify-content: end;
    align-items: start;
    display: flex;
    gap: 15px;
    margin: auto 0;
}

.settings-icon {
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #1c1c1c;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(52, 52, 52, 1);
}

.profile-section {
    align-self: stretch;
    display: flex;
    gap: 4px;
}

.profile-icon {
    justify-content: center;
    align-items: center;
    border-radius: 76.786px;
    background-color: var(--background-background-1, #edeeeb);
    display: flex;
    width: 43px;
    height: 43px;
    padding: 8px;
}

.profile-img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 43px;
}

.profile-details {
    justify-content: center;
    align-self: start;
    display: flex;
    flex-direction: column;
}

.profile-name {
    color: var(--White, #fff);
    font: 600 18px Inter, sans-serif;
}

.profile-role {
    color: var(--Text-2-colour, #696969);
    margin-top: 4px;
    font: 400 10px Inter, sans-serif;
}

.settings-dropdown {
    position: absolute;
    top: 70px;
    transform: translateX(-50%);
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.metric-label {
    color: #fff;
    font-size: 14px;
}

.metric-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adjust space between labels and switch */
    margin-bottom: 15px;
    /* Space below the metrics container */
}