
.progress-bars-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Ensure both columns are equal */
    gap: 10px;
    /* Add some padding around the grid */
}

.progress-box {
    text-align: center;
    /* Add background color for better contrast */
    /* Add padding inside each box */
    border-radius: 5px;
    /* Rounded corners */
}

.name {
    font-size: 8px;
    color: white;
}