#table-container {
    width: 100%;
    height: 300px;
    max-width: 100%;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    overflow-y: auto;
    /* Enable vertical scrolling */
    color: white;
}

#table-container form.oi-ec050e-table {
    margin: 0 !important;
    overflow-y: auto;
    width: 100%;
}

thead {
    color: black;
    text-align: left;
}

