#table-container {
    width: 100%;
    height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}

#table-container form.oi-ec050e-table {
    margin: 0 !important;
    overflow-y: auto;
    
    width: 100%;
    
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #111;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: white;
}

.table th {
    background-color: #222;
}

.table tr:nth-child(even) {
    background-color: #181818;
}

.table tr:hover {
    background-color: #333;
}

.table-layout {
    width: 100%;
}