.what-if-analysis-container {
    /* Dark background */
    color: white;
    /* White text */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    /* Include padding in width/height calculations */
}

.assessment-label {
    font-size: 18px;
    margin-bottom: 10px;
}

.assessment-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.activate-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.activate-button:hover {
    background-color: #0056b3;
}

.activate-button.deactivate {
    background-color: #ff4d4d;
    /* Red color for deactivate state */
}

.activate-button.deactivate:hover {
    background-color: #cc0000;
}